*.log
.htaccess
sitemap.xml
sitemap.xml.gz
sys4.9.4/ldcms-config.php
ldcms-conteudo/advanced-cache.php
ldcms-conteudo/backup-db/
ldcms-conteudo/backups/
ldcms-conteudo/blogs.dir/
ldcms-conteudo/cache/
ldcms-conteudo/upgrade/
arquivos/
ldcms-conteudo/wp-cache-config.php
ldcms-conteudo/plugins/hello.php

/readme.html
/license.txt

