/* generated in /home/storage/0/0a/e9/youniqueimobiliaria/public_html/ldcms-conteudo/themes/younique/framework/modules/contactform7/custom-styles/contact-form.php eiddo_qodef_contact_form7_text_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz { color: #b3b2b2;}

/* generated in /home/storage/0/0a/e9/youniqueimobiliaria/public_html/ldcms-conteudo/themes/younique/framework/modules/contactform7/custom-styles/contact-form.php eiddo_qodef_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea:focus, .cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz:focus { color: #000000;}

/* generated in /home/storage/0/0a/e9/youniqueimobiliaria/public_html/ldcms-conteudo/themes/younique/framework/modules/contactform7/custom-styles/contact-form.php eiddo_qodef_contact_form7_button_hover_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover { background-color: rgba(0, 107, 86, 1);}

/* generated in /home/storage/0/0a/e9/youniqueimobiliaria/public_html/ldcms-conteudo/themes/younique/framework/modules/error404/custom-styles/custom-styles.php eiddo_qodef_404_title_styles function */
.error404 .qodef-page-not-found .qodef-404-title { color: #444444;}

/* generated in /home/storage/0/0a/e9/youniqueimobiliaria/public_html/ldcms-conteudo/themes/younique/framework/modules/error404/custom-styles/custom-styles.php eiddo_qodef_404_subtitle_styles function */
.error404 .qodef-page-not-found .qodef-404-subtitle { color: #444444;}

/* generated in /home/storage/0/0a/e9/youniqueimobiliaria/public_html/ldcms-conteudo/themes/younique/framework/modules/header/types/sticky-header/admin/custom-styles/sticky-header-custom-styles.php eiddo_qodef_sticky_header_styles function */
.qodef-page-header .qodef-sticky-header .qodef-sticky-holder { background-color: rgba(0, 0, 0, 1);}

/* generated in /home/storage/0/0a/e9/youniqueimobiliaria/public_html/ldcms-conteudo/themes/younique/framework/modules/header/types/sticky-header/admin/custom-styles/sticky-header-custom-styles.php eiddo_qodef_sticky_header_styles function */
.qodef-page-header .qodef-sticky-header .qodef-sticky-holder { border-color: #000000;}

/* generated in /home/storage/0/0a/e9/youniqueimobiliaria/public_html/ldcms-conteudo/themes/younique/framework/modules/header/types/top-header/admin/custom-styles/top-header-custom-styles.php eiddo_qodef_header_top_bar_styles function */
.qodef-header-box .qodef-top-bar-background { height: 91px;}

/* generated in /home/storage/0/0a/e9/youniqueimobiliaria/public_html/ldcms-conteudo/themes/younique/framework/modules/header/types/top-header/admin/custom-styles/top-header-custom-styles.php eiddo_qodef_header_top_bar_styles function */
.qodef-top-bar .qodef-grid .qodef-vertical-align-containers { background-color: rgba(0, 132, 157, 1);}

/* generated in /home/storage/0/0a/e9/youniqueimobiliaria/public_html/ldcms-conteudo/themes/younique/framework/modules/header/types/top-header/admin/custom-styles/top-header-custom-styles.php eiddo_qodef_header_top_bar_styles function */
.qodef-header-box .qodef-top-bar-background { background-color: rgba(0, 132, 157, 1);}

/* generated in /home/storage/0/0a/e9/youniqueimobiliaria/public_html/ldcms-conteudo/themes/younique/framework/modules/header/types/top-header/admin/custom-styles/top-header-custom-styles.php eiddo_qodef_header_top_bar_styles function */
.qodef-top-bar { background-color: rgba(0, 132, 157, 1);}

/* generated in /home/storage/0/0a/e9/youniqueimobiliaria/public_html/ldcms-conteudo/themes/younique/framework/modules/header/admin/custom-styles/header-custom-styles.php eiddo_qodef_header_menu_area_styles function */
.qodef-page-header .qodef-menu-area { background-color: rgba(240, 240, 240, 1);}

/* generated in /home/storage/0/0a/e9/youniqueimobiliaria/public_html/ldcms-conteudo/themes/younique/framework/modules/header/admin/custom-styles/header-custom-styles.php eiddo_qodef_header_logo_area_styles function */
.qodef-page-header .qodef-logo-area { background-color: rgba(0, 0, 0, );height: px !important;}

/* generated in /home/storage/0/0a/e9/youniqueimobiliaria/public_html/ldcms-conteudo/themes/younique/framework/modules/header/admin/custom-styles/header-custom-styles.php eiddo_qodef_header_logo_area_styles function */
.qodef-header-centered .qodef-logo-area .qodef-logo-wrapper { padding: ;}

/* generated in /home/storage/0/0a/e9/youniqueimobiliaria/public_html/ldcms-conteudo/themes/younique/framework/modules/title/types/breadcrumbs/admin/custom-styles/breadcrumbs-title-custom-styles.php eiddo_qodef_breadcrumbs_title_area_typography_style function */
.qodef-title-holder .qodef-title-wrapper .qodef-breadcrumbs { color: #ffffff;}

/* generated in /home/storage/0/0a/e9/youniqueimobiliaria/public_html/ldcms-conteudo/themes/younique/framework/modules/title/types/breadcrumbs/admin/custom-styles/breadcrumbs-title-custom-styles.php eiddo_qodef_breadcrumbs_title_area_typography_style function */
.qodef-title-holder .qodef-title-wrapper .qodef-breadcrumbs a:hover { color: #ffffff;}

/* generated in /home/storage/0/0a/e9/youniqueimobiliaria/public_html/ldcms-conteudo/themes/younique/framework/modules/title/admin/custom-styles/title-custom-styles.php eiddo_qodef_title_area_typography_style function */
.qodef-title-holder .qodef-title-wrapper .qodef-page-title { color: #ffffff;}

/* generated in /home/storage/0/0a/e9/youniqueimobiliaria/public_html/ldcms-conteudo/themes/younique/framework/modules/title/admin/custom-styles/title-custom-styles.php eiddo_qodef_title_area_typography_style function */
.qodef-title-holder .qodef-title-wrapper .qodef-page-subtitle { color: #ffffff;}

